* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body{
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: rgb(242, 242, 242);
  font-family: 'Gotu', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.content {
  flex: 1 0 auto;
}

.container {
  background-color: #fff;
  margin: 0 auto;
  width: 1240px;
}

.header {
  background-color: rgb(82, 33, 78);
}
.main-menu-container {
  background-color: rgb(70, 26, 66);
  display: flex;
  justify-content: center;
}

.main-menu-item  {
  position: relative;
}

.main-menu-item:hover .submenu {
  visibility: visible;
}

.main-menu-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  height: 70px;
  font-size: 20px;
  color: #fff;
}

.submenu-item:hover::after {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  display: block;
  content: '';
  width: 60%;
  height: 3px;
  background-color: rgb(239, 169, 41);
}

.submenu {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: rgb(70, 26, 66);
}

.submenu-item {
  position: relative;
  height: 70px;
}

.submenu-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  height: 70px;
  border-bottom: 1px solid #000;
  color: #fff;
  z-index: 10;
}

.current-page::after{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  display: block;
  content: '';
  width: 60%;
  height: 3px;
  background-color: rgb(239, 169, 41);
}

main {
  padding: 50px 0;
}

.title-lesson {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}


.preview {
  margin: 0 auto 100px;
  width: 80%;
  height: 500px;
  background: url("../img/background.jpg") center center no-repeat;
  background-size: contain;
}

.current-task {
  text-align: center;
  margin: 50px auto 30px;
  width: 70%;
  padding: 0 20px 20px;
}

.last-update{
  display: inline-block;
  font-size: 25px;
  color: rgb(70, 26, 66);
  border-bottom: 2px solid rgb(70, 26, 66);
}

.last-update span {
  display: inline-block;
  font-size: 15px;
}

.number-class {
  font-size: 23px;
  margin: 2px;
}

.name-task {
  font-weight: normal;
}

.deadline {
  font-style: italic;
}

.current-task p {
  font-size: 18px;
  margin-bottom: 25px;
}

.btn-task {
  border-radius: 5px;
  background: rgb(82, 33, 78);
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}

.btn-task:hover {
  padding: 10px 18px;
}

.title-task {
  text-align: center;
  margin-bottom:  20px;
}

.prev-img {
  margin: 0 auto 30px;
  display: block;
}

.how-send-H {
  margin: 0 auto 30px;
  width: 800px;
  font-weight: 300;
  border-bottom: 1px solid #000;
  font-size: 42px;
}

.how-send {
  margin: 0 auto;
  width: 800px;
}

.explain {
  text-align: center;
}

.explain-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(70, 26, 66);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.explain-item:hover .explain-img {
  transform: rotate(360deg);
  transition: ease-in-out 1s;
}


.explain-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.explain-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 20px 40px;
}

.footer-main {
  width: 100%;
  flex: 0 0 auto;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(82, 33, 78);

}

.footer-main p {
  font-size: 20px;
  color: #fff;
}

.lesson {
  text-align: center;
}

.lessons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.taks {
  width: 600px;
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 30px;
  text-align: left;
  border-bottom: 1px solid rgb(82, 33, 78);
}

.tasks-item {
  font-size: 22px;
  margin-bottom: 25px;
}

.btncontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-task-gender {
  border-radius: 5px;
  background: rgb(82, 33, 78);
  color: #fff;
  padding: 25px 36px;
  font-size: 26px;
}

.btn {
  border-radius: 5px;
  background: rgb(82, 33, 78);
  color: #fff;
  padding: 18px 30px;
  font-size: 26px;
}

.choose {
  text-align: center;
  margin-bottom: 50px;
}

.lessons-item {
  margin-bottom: 20px;
}

.explain-item address {
  font-weight: bold;
  color: rgb(82, 33, 78);
}

.explain-item p {
  margin: 5px;
}

.table-lesson {
  width: 80%;
}

.title-table {
  height: 50px !important;
}

.table-lesson tr {
  height: 200px;
}

.table-lesson tr td, .table-lesson tr th{
  padding: 5px;
}

.table-lesson tr td:first-child{
  width: 7%;
}

.table-lesson tr td:nth-child(2){
  width: 28%;
}

.table-lesson tr td:nth-child(3){
  width: 45%;
}

.table-lesson tr td:nth-child(4){
  width: 20%;
}

.lesson-list {
  font-size: 20px;
  text-align: left;
}

.lesson-list li {
  margin-bottom: 15px;
}

.contest {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}